ul {
    display: flex;
    justify-content: center;
}
a {
    cursor: pointer;
}

h1 {
    font-size: 22px;
}
.video-item {
    float: left;
    display: flex;
    flex-direction: column;
    height: auto;
    padding-bottom: 50px;
}
.video-item h1, .video-item p, .video-item img {
    display: inline-block;
    text-align: center;
}
.video-item p {
    height: 20px;
}
.video-item img {
    align-self: flex-end;

}
:host {
    display: flex;
    flex-direction: column;
}
.bottom {
    order: 2;
}
.top {
    order: 1;
}
ngb-rating {
  margin: auto;
}
