<div class="row">
  <app-filter (newVideos)="getFilteredVideos($event)"></app-filter>
</div>
<div class="row">
  <div class="col-md-3 video-item"
       *ngFor="let video of videos"
       (click)="open(content)"
       ngbTooltip="Click for more info">
    <h1>{{video.headline}}</h1>

    <div *ngFor="let image of video.cardImages | slice:0:1">
      <img src="{{image.url}}" class="img-thumbnail rounded float-left">
    </div>

    <!--this should have been a component.. -->
    <ng-template #content let-c="close" let-d="dismiss">

      <div class="modal-header">
        <h4 class="modal-title">{{video.headline}}</h4>
        <br/>
        <p [innerHtml]="video.genres.join(' ,')"></p>
      </div>

      <div class="modal-body">
        <ngb-accordion [closeOthers]="true" activeIds="static-1">
          <ngb-panel id="static-1" title="Synopsis">
            <ng-template ngbPanelContent>
              {{video.synopsis}}
            </ng-template>
          </ngb-panel>
          <ngb-panel id="static-2" title="Cast">
            <ng-template ngbPanelContent *ngFor="let cast of video.cast">
              <div>
                {{cast.name}}
              </div>
            </ng-template>
          </ngb-panel>
          <ngb-panel id="static-3" title="Directors">
            <ng-template ngbPanelContent *ngFor="let director of video.directors">
              {{director.name}}
            </ng-template>
          </ngb-panel>
          <ngb-panel id="static-4" title="Videos">
            <ng-template ngbPanelContent *ngFor="let trailer of video.videos">
              <video width="320" height="240" controls>
                <source src="{{trailer.url}}" type="video/mp4">
                Your browser does not support the video tag.
              </video>
            </ng-template>
          </ngb-panel>
        </ngb-accordion>
      </div>
    </ng-template>
    <ngb-rating [(rate)]="video.rating"></ngb-rating>
  </div>

</div>

<!-- pager -->
<div class="row">
  <app-pagination #pagination (newItems)="getNewItems($event)"></app-pagination>
</div>
