<div class="input-group">
  <input #newValue
         (keyup.enter)="addFilter(newValue.value)"
          class="form-control"
          placeholder="Search">

  <button (click)="addFilter(newValue.value)" class="form-control">Filter by name or genre</button>
  <button (click)="clearFilter()" class="form-control">Clear filters</button>
</div>
<ul class="col-md-12"><li *ngFor="let value of filterValues" class="form-control">{{value}}</li></ul>
